@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;
    border: none;
    border-radius: 3px;
}

body {
    background-color: azure;
}

div.navbar {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    background-color: #FFC300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px;
}

div.navbar a {
    display: block;
    height: auto;
    width: auto;
    padding: 15px;
    font-weight: 400;
    color: white;
    transition: .2s all;
}

div.navbar a:hover {
    transform: translateY(-3px);
}

div.content {
    margin: 110px 10% 10px 10%;
    padding: 30px;
    background-color: #790084;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

div.title {
    padding: 10px;
    font-weight: 400;
    font-size: 26px;
}

div.title a {
    color: #adadf8;
}

div.post_content {
    padding: 10px;
}

div.short_post {
    margin: 5px;
    transition: .2s all;
}

div.short_post:hover {
    transform: translateY(-3px);
}

div.sign {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

div.sign form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#inp {
    height: 40px;
    margin: 5px;
    background-color: #FFC300;
    color: black;
    padding: 5px;
}

#btn {
    height: 40px;
    margin: 5px;
    background-color: #FFC300;
}